<template>
    <section class="flex flex-col mx-auto w-[--banner-width] mt-[62px] overflow-auto">
        <NtScrollbar>
            <slot></slot>

        </NtScrollbar>
    </section>
</template>

<script setup lang="ts">

</script>
