@import 'ant-design-vue/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    --aside-width: 255px;
    --banner-width: 750px;
  }
  h1 {
    @apply text-[20px];
  }

  .light {
    --color-theme: 255 172 10;
    --color-theme-10: 255 253 250;
    --color-theme-15: 255 249 236;
    --color-theme-20: 255 244 214;
    --color-theme-40: 255 237 192;
    --color-theme-60: 255 217 144;
    --color-theme-80: 255 190 93;

    --color-light-1: 250 250 250;
    --color-light-2: 234 234 234;
    --color-light-3: 204 204 204;
    --color-light-4: 153 153 153;
    --color-light-5: 102 102 102;
    --color-light-6: 62 62 62;
    --color-light-7: 33 33 33;

    --color-base: 255 255 255;

    --color-link: 29 125 195;
    --color-tag: 132 164 182;
    --color-delete: 247 103 103;
    --color-iconsel: 247 246 245;
    --color-masked: 111 111 111;
    --color-background: 255 255 255;
  }
  .dark {
    --color-theme: 255 172 10;
    --color-theme-10: 33 32 30;
    --color-theme-15: 63 54 33;
    --color-theme-20: 96 77 34;
    --color-theme-40: 169 164 29;
    --color-theme-60: 255 217 144;
    --color-theme-80: 211 148 23;

    --color-light-1: 25 25 25;
    --color-light-2: 42 42 42;
    --color-light-3: 90 90 90;
    --color-light-4: 153 153 153;
    --color-light-5: 102 102 102;
    --color-light-6: 230 230 230;
    --color-light-7: 247 247 247;

    --color-base: 21 21 21;

    --color-link: 29 125 195;
    --color-tag: 163 183 194;
    --color-delete: 210 59 59;
    --color-iconsel: 34 34 34;
    --color-masked: 26 26 26;
    --color-background: 0 0 0;
  }
}
